streamlit
fastapi
requests
uvicorn
aiohttp
google-genai
dotenv
pydantic
supabase
psycopg2-binary
python-multipart
sqlalchemy
python-jose
fitz
pymupdf
langgraph
langchain
beautifulsoup4
lxml
tiktoken
jsonschema
tenacity
cssselect